.footer-logo {
  display: block;
  width: 128px;
  height: 24px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus {
    outline: 2px solid $basic-dark-grey;
    outline-offset: -2px;
  }
}
