.main-catalog {
  border-top: 1px solid $gallery-grey;
  border-bottom: 1px solid $gallery-grey;
}

.main-catalog__product-card {
  margin: 0 auto;
}

.main-catalog__products-show {
  margin: 0 auto;
}
