.slider__button-text {
  position: relative;
}

.slider__button {
  padding: 0;
  min-width: 70px;
  min-height: 40px;

  font: inherit;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  color: $black;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:focus {
    outline: 2px solid $basic-dark-grey;
    outline-offset: -2px;
  }
}


