// Colors

$black: #000000;
$white: #ffffff;
$basic-green: #68b738;
$basic-dark-green: #5eaa2f;
$special-green: #64a63d;
$basic-grey: #f2f2f2;
$gallery-grey: #ebebeb;
$iron-grey: #eaeaea;
$special-grey: #cdcdcd;
$mercury-grey: #e6e6e6;
$alto-grey: #d9d9d9;
$dove-grey: #666666;
$basic-dark-grey: #444444;
$cod-grey: #111111;
$special-dark-grey: #222222;
$coral: #ff8282;

$body-bg-color: $white;

// Font

$font-family-base: Oswald, Tahoma, sans-serif;
$font-family-secondary: Arial, sans-serif;
$font-size-base: 14px;
$line-height-base: 18px;
$font-color-base: $basic-dark-grey;

